set default=0
set timeout=10
menuentry 'PLLINUX with ro app' --class gnu-linux --class gnu --class os {
    linux /app/kernel/current/bzImage
    initrd /app/initramfs/current/initramfs.gz
}
menuentry 'PLLINUX with rw app (slower boot, more RAM used)' --class gnu-linux --class gnu --class os {
    linux /app/kernel/current/bzImage root=rsync
    initrd /app/initramfs/current/initramfs.gz
}
